# <center> Time Series Decompositon - AAPL</center>

## Import libraries

In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [53]:
# Import Apple Historical Stock Data
df = pd.read_csv('AAPL.csv')

## View Data

In [54]:
df.head()

        Date       Open       High        Low      Close  Adj Close     Volume
0  3/25/2020  62.687500  64.562500  61.075001  61.380001  60.548000  303602000
1  3/26/2020  61.630001  64.669998  61.590000  64.610001  63.734215  252087200
2  3/27/2020  63.187500  63.967499  61.762501  61.935001  61.095478  204216800
3  3/30/2020  62.685001  63.880001  62.349998  63.702499  62.839020  167976400
4  3/31/2020  63.900002  65.622498  63.000000  63.572498  62.710789  197002000

In [55]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
500,3/18/2022,160.509995,164.479996,159.759995,163.979996,163.979996,123351200
501,3/21/2022,163.509995,166.350006,163.009995,165.380005,165.380005,95811400
502,3/22/2022,165.509995,169.419998,164.910004,168.820007,168.820007,81532000
503,3/23/2022,167.990005,172.639999,167.649994,170.210007,170.210007,98062700
504,3/24/2022,171.059998,174.139999,170.210007,174.070007,174.070007,90131400

###  Plot Data